@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Work+Sans:wght@400;500;600&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;

  --body-font: "Work Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --header-font: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  --background: #f8f8f8;
  --foreground: #fff;

  --body-text: ##1e1e1e;
  --header-text: #202124;
  --btn-text: #e5e7eb;
  --navbar-link: #4a4d50;

  --btn-gradient: linear-gradient(
    122deg,
    #f9c8bf 3.72%,
    #f87c61 19.56%,
    #ab26f8 84.21%,
    #d75efc 100.63%
  );
  --text-gradient: linear-gradient(
    94deg,
    #f9ac9b 5.97%,
    #e66885 24.14%,
    #b735f9 43.81%
  );

  --container-max-width: 1242px;

  --btn-border-radius: 8px;
}

body {
  font-family: var(--body-font);
  background-color: var(--background);
  overflow-x: hidden; 
  background: var(--background)
  
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
p{
  color: #1E1E1E;
font-family: Work Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}
header {
  background-color: var(--foreground);
  width: 100%;
  height: 8.6rem;
}

header > div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container,
section {
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.nav-bar,
.nav-bar ul {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.nav-bar ul li a {
  color: var(--navbar-link);
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 24px;
}

.nav-bar button {
  font-family: var(--header-font);
  background: var(--btn-gradient);
  font-weight: 600;
  color: var(--btn-text);
  padding: 1rem 1.8rem;
  border-radius: var(--btn-border-radius);
  border: none;
  outline: none;
}
.grid-container2 {
  max-width: 100vw; /* Set maximum width to viewport width */
  width: 100%; 
  display: grid;
  align-content: start;
  grid-template-columns: 50px 50px; /*Make the grid smaller than the container*/
  background-color: --background;
  padding: 10px;
}

.grid-container2 > div {
  text-align: start;
  padding: 20px 0;
  font-size: 42px; 
  font-family: Inter; 
  font-weight: 700; 
  line-height: 53.75px; word-wrap: break-word
}


.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 62px;
  grid-row-gap: 40px;

  }
  .div1 { 
    grid-area: 1 / 1 / 2 / 2;
    background-color: #FF564C; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05); 
    border-radius: 20px; 
    overflow: hidden;
    display: flex;
    width: 589px;
    padding: 73px 27px 30px 27px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 39px;
    flex-shrink: 0;
 }
  .div2 { grid-area: 1 / 2 / 2 / 3;
    display: flex;
    width: 589px;
    background: #E8F0FE; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05); 
    border-radius: 20px;
    padding: 73px 27px 30px 27px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 10px; 
    overflow: hidden; 
    gap: 39px;
    flex-shrink: 0;
  
  }
  .div3 { grid-area: 2 / 1 / 3 / 2; 
    display: flex;
    width: 589px;
    padding: 73px 27px 30px 27px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 39px;
    background: #F1F1F1; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05); 
    border-radius: 20px; 
    overflow: hidden;
    flex-shrink: 0;
  }
  .div4 { grid-area: 2 / 2 / 3 / 3;
    display: flex;
    width: 589px;
    background: #7021D5;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05); 
    border-radius: 20px; 
    overflow: hidden; 
    padding: 73px 27px 30px 27px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 39px;
    flex-shrink: 0;
   }
  .div5 { 
    grid-area: 3 / 1 / 4 / 2; 
    display: flex;
    width: 589px;
    background: #1A73E8; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05); 
    border-radius: 20px; 
    overflow: hidden;
    border-radius: 8px;
    padding: 73px 27px 30px 27px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 39px;
    flex-shrink: 0;
  }
  .div6 { grid-area: 3 / 2 / 4 / 3;
    display: flex;
    width: 589px;
    background: #E8F0FE; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05); 
    border-radius: 20px; 
    overflow: hidden;
    border-radius: 8px;
    padding: 73px 27px 30px 27px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 39px;
    flex-shrink: 0;
   }

  .grid-container{
  max-width: 100vw; /* Set maximum width to viewport width */
  width: 100%; 
  height: 270px;
  display: grid;
  grid-template-columns: 30% 20% 20% 30%;
  grid-auto-flow: column; /* Column layout */
  padding: 50px;
  gap: 10px;
  background: white;
 }

.company ul{
  display: grid;
  grid-template-columns: 150px; /* Set the width */
  gap: 16px; 
  padding-bottom: 3px;
  align-items: flex-start;
  flex-shrink: 0;
}
.products ul{
  display: grid;
  grid-template-columns: 150px; /* Set the width */
  gap: 16px; 
  padding-bottom: 3px;
  align-items: flex-start;
  flex-shrink: 0;
}
.logo-section {
  display: grid;
  width: 1230px;
  height: 213px;
  justify-content: flex-start;
  align-items: flex-start;
}

ul{
  justify-content: space-between;
    align-items: flex-end;
}

ul#socials li {
  display:inline;
  color: #5F6368;
  font-family: Work Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.814px; /* 173.447% */
}
input{
  border: none;
  width: 100%;
}

button{
border-radius: 87.011px;
border: none;
background: #FFF;
box-shadow: 0px 3.48px 13.052px 0px rgba(0, 0, 0, 0.05);
display: grid;
padding: 10px 20px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
}

#subscribe {
  color: #1E1E1E;
  text-align: center;
  font-family: Work Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.5px; /* 150% */
  }
.newsletter{
  display: grid;
  width: 70%;
  height: 213px;
  gap: 17px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.newsletter button{
  border-radius: 8px;
border: 0.5px solid #1E1E1E;
}



/* Mechandise Categories */



.row{
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
}


.title h2{
  font-size: 42px;
  line-height: 41.51px;
  color: #000;
  font-weight: 600;
  padding-bottom: 20px;
}


.categories{
  background-color: #D3E3FD;
  width: 290.55px;
  height: 92.24px;
  border-radius: 18.45px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.categories img{
  width: 15px;
  height: 13px;
}



.categories p{
  font-size: 18.3px;
  line-height: 27px;
}

/* adding separate colors for each of the category boxes */
.color2{
  background-color: #E3E3E3;
}


.color3{
  background-color: #C2E7FF;
}


.color4{
  background-color: #C4EED0;
}

.color5{
  background-color: #D5D1FF;
}


.color6{
  background-color: #FDE3FF;
}


.color7{
  background-color: #EEFFBE;
}


.color8{
  background-color: #FFE1E1;
}



/* What we teach */


.teaching{
  margin-top: 100px;
}


.teaching .teach{
  
  background-color: #FEF7E0;
 
}


.teaching .teach-offer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px;
  background-color: #FEF7E0;
}

.margin{
  margin-top: 50px;
}


.teaching .edu-books{
  background-color: #EDEFFF;
}


.teaching .flash-cards{
  background-color: #F6ECFF;
}

.teaching .content-left{
  display: flex;
  flex-direction: column;
 
}


.content-left h2{
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: -0.7203947305679321px;
  text-align: left;
  width: 100px;
  width: 360px;
  padding-bottom: 20px;

}


.content-left p{
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 381px;
}


.content-left .btn{
  padding: 9.97px, 17.94px, 9.97px, 17.94px;
  border-radius: 7.97px;
  width: 100px;
  background-color: #202020;
  color: #fff;
  margin-top: 32px;
  cursor: pointer;
}


.teach-offer img{
  width: 670px;
  height: 515px;
  border-radius: 20px;
  
}


.edu-books {
  flex-direction: row-reverse;
}