@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Work+Sans:wght@400;500;600&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;

  --body-font: "Work Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --header-font: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  --background: #f8f8f8;
  --foreground: #fff;

  --body-text: ##1e1e1e;
  --header-text: #202124;
  --btn-text: #e5e7eb;
  --navbar-link: #4a4d50;

  --btn-gradient: linear-gradient(
    122deg,
    #f9c8bf 3.72%,
    #f87c61 19.56%,
    #ab26f8 84.21%,
    #d75efc 100.63%
  );
  --text-gradient: linear-gradient(
    94deg,
    #f9ac9b 5.97%,
    #e66885 24.14%,
    #b735f9 43.81%
  );

  --container-max-width: 1242px;

  --btn-border-radius: 8px;
}

body {
  font-family: var(--body-font);
  background-color: var(--background);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  background-color: var(--foreground);
  width: 100%;
  height: 8.6rem;
}

header > div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container,
section {
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.nav-bar,
.nav-bar ul {
  display: flex;
  gap: 3.2rem;
}

.nav-bar ul li a {
  color: var(--navbar-link);
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 24px;
}

.nav-bar button {
  background: var(--btn-gradient);
  padding: 1rem 1.8rem;
  border-radius: var(--btn-border-radius);
  border: none;
  outline: none;
}
